/* Scoreboard.css */
.scoreboard {
  background-color: #e24ac9;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 99px;
}

@media (min-width: 768px) {
  .scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 15px 25px;
  }
}

@media (min-width: 1024px) {
  .scoreboard {
    font-size: 28px;
    padding: 20px 30px;
  }
}

